Source: platform-config-powerpc-centec-e580-48x2q4z-r0
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: platform-config-powerpc-centec-e580-48x2q4z-r0
Architecture: all
Depends: vendor-config-centec
Description: Platform Configuration files for powerpc-centec-e580-48x2q4z-r0.
 Platform Configuration files for powerpc-centec-e580-48x2q4z-r0.
