Source: onlp-powerpc-centec-e580-48x6q-r0
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: onlp-powerpc-centec-e580-48x6q-r0
Architecture: powerpc
Depends: 
Description: E580-48X6Q R0
 E580-48X6Q R0 
